/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$barleygroats: #FBF1DA;
$barleygroatsdark: #CDC4AF;
$barleygroatslight: #FDFAF2;
$lobsterbrown: #A65335;
$lobsterbrowndark: #703824;
$lobsterbrownlight: #F4E7E6;
$rurikon: #18254F;
$rurikondark: #090E1E;
$rurikonlight: #D4D6DE;
$sumacdyed: #E78D1E;
$sumacdyedlight: #F7D7AF;
$sumacfyleddark: #A46516;
$waterwelt: #305199;
$waterweltdark: #121E39;
$waterweltlight: #BFC9E0;


