/* =============
    Hero1
============= */
#hero1 {
	>div {
		img {
			display: block;
			width: 100%;
		}
		ul{
			#hero-item
		{
			background-color: #703824 ;
		h2{
			font-size: 18px ;
			font-weight: 400 ;
		}
		p{
			font-size: 14pt;
			font-weight: 400;
		}
		}
		#hero-location {
			background-color: #A65335 ;
		}
		}
	}
}