/* =============
    Hero2
============= */
#hero2{

    @include xl{
        display: grid;
        grid-template-columns: auto 1350px auto;
        grid-template-areas: ". hero-2 .";
    }
    
    ul{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include xl{
            grid-template-columns: 70% auto;
            grid-template-areas: "feature1 feature3"
            "feature1 feature2";
            grid-template-rows: repeat(2, 300px);
        }

        @include xl{
            grid-area: hero-2;
        }


        li {
            background-position: center;
            background-size: cover;
            height: 320px;

            @include md {
                height: 500px;
            }

            @include lg {
                height: auto;
            }
        }

        #feature1{
            background-image: url("../img/section3/feature1.jpg");
            @include xl{
                grid-area: feature1;
            }
        }

        #feature3{
            background-image: url("../img/section3/feature3.jpg");
            @include xl{
                grid-area: feature3;
            }
        }

        #feature2{
            background-image: url("../img/section3/feature2.jpg");
				display: none;
            @include xl{
                display: block;
                grid-area: feature2;
            }
        }
    }
}
