/* =============
    JoinUs
============= */
#joinus {

    ul {
        li {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". joinus-content .";

            div {
                grid-area: joinus-content;
            }
        }
    }

    #magical {
        @include md {
            grid-area: magical;
        }
    }

    #tickets {
        @include md {
            grid-area: tickets;
        }
    }

    @include md {
        ul {
            grid-template-columns: 16px 360px 16px 360px 16px;
            grid-template-areas: ". magical . tickets .";
        }
    }

    @include lg {

        ul {
            grid-template-columns: 16px 488px 16px 488px 16px;
            grid-template-areas: ". magical . tickets .";
        }

    }
}