/* =============
    New
============= */
#new {

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". new .";
    }

    @include lg {
        grid-template-columns: auto 1024px auto;
    }

    >div {
        h1 {
            color: #18254F;
            font-size: 20pt;
            font-weight: 700;
            margin-bottom: 16px;
            padding: 0 16px;

        }

        @include md {
            grid-area: new;
        }


        ul {

            @include md {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: "n1 n1 n2 n2"
                    "n3 n3 n4 n4"
                    ". n5 n5 .";
                gap: 16px;
            }

            @include lg {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                    "n1 n1 n2 n2 n3 n3"
                    ". n4 n4 n5 n5 .";
            }

            li {
                background-color: #18254F;

                img {
                    width: 100%;
                }

                section {
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". new-content .";

                    h1 {
                        color: #FBF1DA;
                        font-size: 27pt;
                        font-weight: 400;
                        margin-bottom: 16px;
                    }

                    p {
                        color: #FDFAF2 ;
                        font-size: 16pt ;
                        font-weight: 400 ;
                        margin-bottom: 16pt;
                    }

                    >div {
                        grid-area: new-content;
                    }
                }
            }

            #new-gallery-1 {
                @include md {
                    grid-area: n1;
                }
            }

            #new-gallery-2 {
                @include md {
                    grid-area: n2;
                }
            }

            #new-gallery-3 {
                @include md {
                    grid-area: n3;
                }
            }

            #new-gallery-4 {
                @include md {
                    grid-area: n4;
                }
            }

            #new-gallery-5 {
                @include md {
                    grid-area: n5;
                }
            }
        }
    }
}