/* =============
    Footer
============= */
footer {

		display: grid;
		grid-template-areas: ". footer .";
		grid-template-columns: 16px auto 16px;
	 
		@include xl {
			grid-template-columns: auto 1200px auto;
		}

	>div {
		grid-area: footer;
		gap: 24px;

		@include md {
			display: grid;
			grid-template-areas: "upcomingevents newsletter"
				"upcomingevents social";
			grid-template-columns: repeat (2, 1fr);
		}

		@include lg {
			grid-template-areas: "upcomingevents newsletter social";
			grid-template-columns: repeat(3, 1fr);
		}

		@include xl {
			grid-area: footer;
		}


		#upcomingevents {
			@include md {
				grid-area: upcomingevents;
			}
		}

		#newsletter {
			@include md {
				grid-area: newsletter;
			}

			form {
				input {
					border: none;
				}
			}
		}

		#social {
			@include md {
				grid-area: social;
			}


			ul {
				border: none;
				li {
				}
			}
		}
	}
}